body{
    font-size: 16px;
    color: #000000;
}

li{
    list-style: none;
    margin-bottom: 10px;
}
h1{
    text-align:center;
}
.frame-all{
    border:1px solid #005cbf;
    margin-top: 200px;
    width: 750px;
}
.todo{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.edit-todo{
    padding: 0;
    margin: 0;
    width:480px;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    padding-left: 20px;
    vertical-align: baseline;
}
.edit-input{
    width:480px;
}
.enter-todo{
    width:480px;
    margin-left: 10px;

}
.count{
    margin: 10px;
    margin-left: 35px;
}
.enter{
    margin: 10px;
    margin-left: 35px;
}
.allbutton{
    display: flex;
    margin: 10px;
    margin-left: 120px;
}
.navigator{
    margin: 10px;
    margin-left: 100px;
}
#list-todos{
    margin-left: 70px;
}
#clear{
    margin-left: 30px;
}

.input-check{
    display: none;
}
.input-check~label:before {
    content: "";
    display: inline-block;

    width: 20px;
    height: 20px;

    margin-right: 10px;
    position: absolute;
    left: 5px;
    top: -5px;
    background-color: #ffff;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    z-index:20;
}
.input-check~label:after {
    content: "";
    display: inline-block;

    width: 30px;
    height: 30px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #28a745;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    z-index: 1;
}
.input-check~label{
    cursor: pointer;
    position: relative;
    margin-right: 35px;
    margin-left: 5px;
}

.input-check~label:before{
    border-radius: 3px;
}

.input-check:checked + label:before
{
    content: "V";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 20px;
    font-weight: bold;
    color: #28a745;
    text-align: center;
    line-height: 15px;
}
.line-through{
    text-decoration: line-through;
}
.butdel{
    margin-left:15px;
}

